:root {
  --color-background-default: #fff;
  --color-background-accent-gold: #fffaf5;
  --color-background-accent-blue: #def3ff;

  --color-text-strongest: #2f2f2f;
  --color-text-strong: #494949;
  --color-text-weak: #7e7e7e;
  --color-text-link: #efa866;
}
