.site-header {
  position: relative;

  .header-top {
    position: relative;
    padding: var(--spacing-medium) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-medium);
    margin: 0 var(--spacing-xxxlarge);
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.05);

    > div {
      display: flex;
      align-items: center;
      gap: var(--spacing-small);
    }

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .header-bottom {
    position: relative;
    padding: var(--spacing-xlarge) var(--spacing-xxxlarge);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dypa-logo {
    width: 50px;
    height: 40px;
  }

  .text-link {
    h1 {
      font-family: var(--font-family-serif);
      font-weight: 300;
      color: var(--color-text-strongest);
      white-space: nowrap;
      font-size: var(--font-size-large);
    }
  }

  .logo-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .logo {
    width: 48px;
  }

  .site-menu {
    ul {
      li {
        display: inline;
        font-size: var(--font-size-medium);
        margin-left: var(--spacing-small);
      }
    }
  }

  .menu-button {
    display: none;
  }

  @media (max-width: 960px) {
    .header-top {
      margin: 0 var(--spacing-large);
    }

    .header-bottom {
      padding: var(--spacing-xlarge) var(--spacing-large);
    }

    .logo {
      width: 32px;
    }
  }

  @media (max-width: 600px) {
    .header-top {
      display: none;
    }

    .menu-button {
      display: block;
    }

    .site-menu {
      display: none;
    }

    .text-link {
      margin-left: 44px; // icon width + 12px
    }

    .logo-link {
      top: 50%;
      transform: translate(0, -50%);
      left: var(--spacing-large);
    }
  }
}
